@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  scroll-margin-top: 6em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

/* navbar */

nav.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: #fff;

  backdrop-filter: blur(19px) saturate(182%);
    -webkit-backdrop-filter: blur(19px) saturate(182%);
    background-color: rgba(17, 25, 40, 0.78);
}

a.navbar-brand{
  position: relative;
  left: 2em;
  display: flex;
  gap: 0.5em;
  z-index: 20;
}

.home{
  width: 1.7em;
}

.navbar-collapse{
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul.navbar-ul{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  list-style-type: none;
  gap: 2em;
  position: relative;
  right: 2em;
}

ul.navbar-ul > li.nav-item > a.nav-link, a.navbar-brand{
  text-decoration: none;
  color: #fff;
}
ul.navbar-ul > li.nav-item > a.nav-link:visited, a.navbar-brand:visited{
  color: #fff;
}

button.menu{
  display: none;
}

@media (max-width: 775px) {
  nav.navbar {
    background-color: red;
  }
  button.menu{
  display: block;
  position: relative;
  left: 2em;
}
a.navbar-brand{
  position: relative;
  left: -2em;
}
 ul.navbar-ul{
  display: none;
 }
 ul.navbar-ul.display-nav-links{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: blueviolet;
  color: #fff;
 }
 button.menu{
  position: absolute;
  z-index: 30;
 }
 .navbar-collapse{
  display: flex;
  flex-direction: row-reverse;
}
}

button.nav-button-asistente{
  padding: 0.7em;
  background-color: yellow;
  background-image: linear-gradient(
    220deg,
    hsl(75deg 63% 63%) 0%,
    hsl(72deg 67% 62%) 13%,
    hsl(69deg 70% 61%) 25%,
    hsl(66deg 73% 59%) 37%,
    hsl(64deg 75% 58%) 50%,
    hsl(61deg 78% 56%) 63%,
    hsl(59deg 84% 55%) 75%,
    hsl(57deg 92% 54%) 87%,
    hsl(55deg 100% 50%) 100%
  );
  color: black;
  border-radius: 2em;
  font-size: 1.2em;
}

/* a:hover .navbar-svg path{
  stroke-width: 1px;
} */

a .navbar-svg path.caja, a .navbar-svg path.mango, a .navbar-svg path.solapa, a .navbar-svg path.cierre{
  transition: d 2s;
}

a:hover .navbar-svg path.caja{
  d: path("M 50,78 Q 62,70 62,70 Q 55,20 55,20 Q 45,20 45,20 Q 38,70 38,70 Q 50,78 50,78");
}
a:hover .navbar-svg path.mango{
  d: path("M 55,18 Q 62,3 62,3 Q 38,3 38,3 Q 45,18 45,18");
}
a:hover .navbar-svg path.solapa{
  d: path("M 38,3 Q 45,17 45,17 Q 55,17 55,17 Q 62,3 62,3");
}
a:hover .navbar-svg path.cierre{
  d: path("M 58,70 L 52,25 Q 52,25 52,25 L 52,25");
}

/* home */


a .home path.chimenea{
  transition: d 2s;
  transition-delay: 0.2s;
}
a:hover .home path.chimenea{
  d: path("M 70,19 L 70,7 80,7 80,25 ");
}
a .home path.ventana{
  transition: d 2s;
  transition-delay: 0.4s;
}
a:hover .home path.ventana{
  d: path("M 40,18 L 52,18 52,36 40,36 40,18 52,18 M 58,24 L 58,36 68,36 68,24 58,24 58,36");
}


/* ampolleta */

a .navbar-svg path.destello-ampolleta-1{
  transition: d 2s;
  transition-delay: 0s;
}
a:hover .navbar-svg path.destello-ampolleta-1{
  d: path("M 50,2 L 50,10");
}
a .navbar-svg path.destello-ampolleta-2{
  transition: d 2s;
  transition-delay: 0.2s;
}
a:hover .navbar-svg path.destello-ampolleta-2{
  d: path("M 70,15 L 75,8");
}
a .navbar-svg path.destello-ampolleta-3{
  transition: d 2s;
  transition-delay: 0.4s;
}
a:hover .navbar-svg path.destello-ampolleta-3{
  d: path("M 30,15 L 25,8");
}
a .navbar-svg path.destello-ampolleta-4{
  transition: d 2s;
  transition-delay: 0.6s;
}
a:hover .navbar-svg path.destello-ampolleta-4{
  d: path("M 20,30 L 10,25");
}
a .navbar-svg path.destello-ampolleta-5{
  transition: d 2s;
  transition-delay: 0.8s;
}
a:hover .navbar-svg path.destello-ampolleta-5{
  d: path("M 80,30 L 90,25");
}

/* carta */

a .navbar-svg path.base-carta{
  transition: d 2s;
  transition-delay: 0s;
}
a:hover .navbar-svg path.base-carta{
  d: path("M 2,78 L 98,78 L 98,45 L 2,45 L 2,78 L 98,78");
}
a .navbar-svg path.cierre-carta{
  transition: d 2s;
  transition-delay: 0.2s;
}
a:hover .navbar-svg path.cierre-carta{
  d: path("M 6,45 L 6,2 L 94,2 L 94,45");
}
a .navbar-svg path.linea-primera-carta{
  transition: d 2s;
  transition-delay: 0.4s;
}
a:hover .navbar-svg path.linea-primera-carta{
  d: path("M 10,15 L 90,15");
}
a .navbar-svg path.linea-segunda-carta{
  transition: d 2s;
  transition-delay: 0.6s;
}
a:hover .navbar-svg path.linea-segunda-carta{
  d: path("M 10,25 L 80,25");
}
a .navbar-svg path.linea-tercera-carta{
  transition: d 2s;
  transition-delay: 0.8s;
}
a:hover .navbar-svg path.linea-tercera-carta{
  d: path("M 10,35 L 87,35");
}

/* persona */

a .navbar-svg ellipse.cabeza{
  transition: cx 2s, cy 2s, rx 2s, ry 2s;
  transition-delay: 0s;
}
a:hover .navbar-svg ellipse.cabeza{
  cx: 50px;
  cy:40px;
  rx:45px; 
  ry:35px;
  }
a .navbar-svg path.cuerpo{
  transition: d 2s;
  transition-delay: 0.2s;
}
a:hover .navbar-svg path.cuerpo{
  d: path("M 50,25 Q 50,70 50,70 L 50,70 Q 50,70 50,70");
}
a .navbar-svg path.punto{
  transition: cx 2s, cy 2s, rx 2s, ry 2s;
  transition-delay: 0.4s;
}
a:hover .navbar-svg ellipse.punto{
  cx:50px;
  cy:15px;
  rx:5px; 
  ry:5px;
  }


a.nav-link{
  display: flex;
  gap: 0.5em;
}
/* hero */


div.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh);

  

  background-color:hsla(0,100%,50%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(276,30%,74%,1) 0px, transparent 50%),
radial-gradient(at 87% 18%, hsla(276,70%,34%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(299,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 69% 39%, hsla(276,50%,54%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(276,89%,79%,1) 0px, transparent 50%),
radial-gradient(at 79% 95%, hsla(276,10%,14%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(276,40%,64%,1) 0px, transparent 50%);
}


img.perfil{
  border-radius: 42% 58% 39% 61% / 66% 30% 70% 34% ;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: blue;
  background-image: linear-gradient(
    120deg,
    hsl(240deg 100% 20%) 0%,
    hsl(239deg 94% 22%) 8%,
    hsl(238deg 89% 23%) 17%,
    hsl(237deg 83% 25%) 25%,
    hsl(236deg 79% 26%) 33%,
    hsl(236deg 76% 28%) 42%,
    hsl(235deg 73% 29%) 50%,
    hsl(234deg 70% 31%) 58%,
    hsl(233deg 68% 32%) 67%,
    hsl(232deg 66% 34%) 75%,
    hsl(232deg 65% 35%) 83%,
    hsl(231deg 63% 37%) 92%,
    hsl(230deg 62% 38%) 100%
  );
  border: 2px solid black;
  width: 200px;
  filter: sepia(0.2);
  
}


div.bajada{
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2.subtitulo{
  opacity: 0.7;
}

svg.flecha-hero{
  
  position: absolute;
  width: 10em;
  right: 4em;
  top: 7em;
  rotate: -18deg;
}

@keyframes textoAnimado {
  0% {
    rotate: 18deg;
  }
  79% {
    rotate: 18deg;
    scale: 1;
  }
  80% {
    rotate: 13deg;
    scale: 1.2;
  }
  90% {
    rotate: 25deg;
  }
  100% {
    scale: 1;
    rotate: 18deg;
  }
}

svg.flecha-hero-texto{
  position: absolute;
  width: 6em;
  right: 8em;
  top: 19em;
  fill: yellow;
  opacity: 0.9;
  animation: textoAnimado 3s linear infinite;
}

@keyframes casinoLights {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
}
svg.flecha-hero path{
  stroke: yellow;
  stroke-width: 2px;
  stroke-linecap: round;
  fill: rgba(251, 232, 2, 0.15);
  stroke-dasharray: 20, 14;
animation: casinoLights 3s linear infinite;
}


/* acerca de mi */
div.about-me{
  padding-top: 12em;
  padding-bottom: 12em;
  background-color: #01161e;
  color: #fff;
}
#about-me-title{
  text-align: center;
}

.about-me-content{
  display: flex;
  justify-content: space-evenly;
}

.about-me-title-content{
  padding: 5em;
  margin: 5em;
  border-radius: 1em;
  --shadow-color: 197deg 100% 0%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}


/* cubo */

.contenedor-cubo{
  padding: 15em;
}

cubo.scene{
  perspective: 400px;
  perspective-origin: 20% 100%;
}

.cubo.object{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cubo.object > .face{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  background-color: red;
  opacity: 0.7;
  text-align: center;
  border: black solid 0.125em;
}

.cubo > .face.front  { transform: rotateY(  0deg); }
.cubo > .face.right  { transform: rotateY( 90deg); }
.cubo > .face.back   { transform: rotateY(180deg); }
.cubo > .face.left   { transform: rotateY(-90deg); }
.cubo > .face.top    { transform: rotateX( 90deg); }
.cubo > .face.bottom { transform: rotateX(-90deg); }

.cubo > .face.front  { transform: rotateY(  0deg) translateZ(5em); }
.cubo > .face.right  { transform: rotateY( 90deg) translateZ(5em); }
.cubo > .face.back   { transform: rotateY(180deg) translateZ(5em); }
.cubo > .face.left   { transform: rotateY(-90deg) translateZ(5em); }
.cubo > .face.top    { transform: rotateX( 90deg) translateZ(5em); }
.cubo > .face.bottom { transform: rotateX(-90deg) translateZ(5em); }

.cubo.object{
  position: relative;
  transform: translateZ(-5em);
  transform: rotateZ(-5deg) rotateY( 0.02turn);
  /* left: 3em; */
  /* transform: rotateX( -40deg) rotateY( -2deg); */
  animation: cube-animation 8s linear infinite ;
  transform-origin: 5em 0 0;
}

@keyframes cube-animation {
  12.5%{transform:  rotateY( .145turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  25%  {transform:  rotateY( .270turn) rotateZ(-5deg);}
  37.5%{transform:  rotateY( .395turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  50%  {transform:  rotateY( .520turn) rotateZ(-5deg);}
  62.5%{transform:  rotateY( .645turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  75%  {transform:  rotateY( .770turn) rotateZ(-5deg);}
  87.5%{transform:  rotateY( .895turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  100% {transform:  rotateY(  1.turn)   rotateZ(-5deg);}
}



/* trabajos, proyectos y habilidades */

section.contenido{
  --shadow-color: 206deg 28% 59%;
  background-color: #e3f2fd;
}
section.contenido, footer{
  padding: 2em;
  padding-top: 8em;
}


h2 {
  font-size: 3em;
  color: #0d47a1;
  margin-bottom: 1em;
  margin-left: 0.4em;
}

h3 {
  font-size: 2em;
  color: #01161e;
  margin-bottom: 0.8em;
}

/* trabajos */

div.trabajos-titulo-contenido {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}
div.trabajos-titulo-contenido h3{
  padding: 0.8em;
}
div.trabajos-titulo-contenido p{
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 1em;
  font-size: 1.2em;
  text-align: left;
}

div.trabajos-titulo-contenido article{
  background-color: #fff;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    border-radius: 1em;
}
div.trabajos-titulo-contenido article button{
  align-items: center;
  background-color: transparent;
  border: none;  
  padding: 1em;
}
div.trabajos-titulo-contenido article button svg{
  width: 4em;
}

div.trabajos-titulo-contenido article button svg path{
  stroke-width: 0.5em;
  stroke: #1565c0;
}

div.trabajos-titulo-contenido article button svg path.barra-centro{
  transition: d 2s;
  transition-delay: 0s;
}
div.trabajos-titulo-contenido article button:hover svg path.barra-centro{
  d: path("M 50,0 L 50,98");
}
div.trabajos-titulo-contenido article button svg path.cabeza-flecha{
  transition: d 2s;
  transition-delay: 0.2s;
}
div.trabajos-titulo-contenido article button:hover svg path.cabeza-flecha{
  d: path("M 90,70 L 50,98 10,70 ");
}


/* proyectos */


/* habilidades */


/* contacto */

