@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  scroll-margin-top: 6em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

/* navbar */

nav.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: #fff;

  backdrop-filter: blur(19px) saturate(182%);
    -webkit-backdrop-filter: blur(19px) saturate(182%);
    background-color: rgba(17, 25, 40, 0.78);
}

a.navbar-brand{
  position: relative;
  left: 2em;
}

.navbar-collapse{
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul.navbar-ul{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  list-style-type: none;
  gap: 2em;
  position: relative;
  right: 2em;
}

ul.navbar-ul > li.nav-item > a.nav-link, a.navbar-brand{
  text-decoration: none;
  color: #fff;
}
ul.navbar-ul > li.nav-item > a.nav-link:visited, a.navbar-brand:visited{
  color: #fff;
}

button.menu{
  display: none;
}

@media (max-width: 775px) {
  nav.navbar {
    background-color: red;
  }
  button.menu{
  display: block;
  position: relative;
  left: 2em;
}
a.navbar-brand{
  position: relative;
  left: -2em;
}
 ul.navbar-ul{
  display: none;
 }
 ul.navbar-ul.display-nav-links{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: blueviolet;
  color: #fff;
 }
 button.menu{
  position: absolute;
  z-index: 30;
 }
 .navbar-collapse{
  display: flex;
  flex-direction: row-reverse;
}
}

button.nav-button-asistente{
  padding: 0.7em;
  background-color: yellow;
  color: black;
  border-radius: 2em;
  font-size: 1.2em;
}

/* a:hover .navbar-svg path{
  stroke-width: 1px;
} */

a .navbar-svg path.caja, a .navbar-svg path.mango, a .navbar-svg path.solapa, a .navbar-svg path.cierre{
  transition: d 2s;
}

a:hover .navbar-svg path.caja{
  d: path("M 50,66 Q 55,66 58,78 Q 42,78 42,78 Q 45,66 50,66 Q 50,66 50,66 Q 50,66 50,66");
}
a:hover .navbar-svg path.mango{
  d: path("M 35,30 Q 50,-10 65,30 Q 50,35 35,30 Q 50,-10 65,30");
}
a:hover .navbar-svg path.solapa{
  d: path("M 47,33 Q 50,20 53,33 Q 53,33 53,33 Q 53,33 53,33");
}
a:hover .navbar-svg path.cierre{
  d: path("M 50,66 L 50,30 Q 50,30 50,30 L 50,30");
}


a.nav-link{
  display: flex;
  gap: 0.5em;
}
/* hero */


div.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh);

  

  background-color:hsla(0,100%,50%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(276,30%,74%,1) 0px, transparent 50%),
radial-gradient(at 87% 18%, hsla(276,70%,34%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(299,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 69% 39%, hsla(276,50%,54%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(276,89%,79%,1) 0px, transparent 50%),
radial-gradient(at 79% 95%, hsla(276,10%,14%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(276,40%,64%,1) 0px, transparent 50%);
}


img.perfil{
  border-radius: 42% 58% 39% 61% / 66% 30% 70% 34% ;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: blue;
  border: 8px solid blue;
  width: 200px;
  filter: sepia(0.2);
  
}


div.bajada{
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2.subtitulo{
  opacity: 0.7;
}

svg.flecha-hero{
  
  position: absolute;
  height: 20em;
  right: 6em;
  top: 6em;
  rotate: 8deg;
  stroke: yellow;
    stroke-width: 5px;
    stroke-dasharray: 0, 10, 25, 10;
    stroke-linecap: round;
    fill: none;
}


/* acerca de mi */
div.about-me{
  padding-top: 12em;
  padding-bottom: 12em;
  background-color: #01161e;
  color: #fff;
}
#about-me-title{
  text-align: center;
}

.about-me-content{
  display: flex;
  justify-content: space-evenly;
}

.about-me-title-content{
  padding: 5em;
  margin: 5em;
  border-radius: 1em;
  --shadow-color: 197deg 100% 0%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}


/* cubo */

.contenedor-cubo{
  padding: 15em;
}

cubo.scene{
  perspective: 400px;
  perspective-origin: 20% 100%;
}

.cubo.object{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cubo.object > .face{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  background-color: red;
  opacity: 0.7;
  text-align: center;
  border: black solid 0.125em;
}

.cubo > .face.front  { transform: rotateY(  0deg); }
.cubo > .face.right  { transform: rotateY( 90deg); }
.cubo > .face.back   { transform: rotateY(180deg); }
.cubo > .face.left   { transform: rotateY(-90deg); }
.cubo > .face.top    { transform: rotateX( 90deg); }
.cubo > .face.bottom { transform: rotateX(-90deg); }

.cubo > .face.front  { transform: rotateY(  0deg) translateZ(5em); }
.cubo > .face.right  { transform: rotateY( 90deg) translateZ(5em); }
.cubo > .face.back   { transform: rotateY(180deg) translateZ(5em); }
.cubo > .face.left   { transform: rotateY(-90deg) translateZ(5em); }
.cubo > .face.top    { transform: rotateX( 90deg) translateZ(5em); }
.cubo > .face.bottom { transform: rotateX(-90deg) translateZ(5em); }

.cubo.object{
  position: relative;
  transform: translateZ(-5em);
  transform: rotateZ(-5deg) rotateY( 0.02turn);
  /* left: 3em; */
  /* transform: rotateX( -40deg) rotateY( -2deg); */
  animation: cube-animation 8s linear infinite ;
  transform-origin: 5em 0 0;
}

@keyframes cube-animation {
  12.5%{transform:  rotateY( .145turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  25%  {transform:  rotateY( .270turn) rotateZ(-5deg);}
  37.5%{transform:  rotateY( .395turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  50%  {transform:  rotateY( .520turn) rotateZ(-5deg);}
  62.5%{transform:  rotateY( .645turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  75%  {transform:  rotateY( .770turn) rotateZ(-5deg);}
  87.5%{transform:  rotateY( .895turn) scale3d(0.8, 0.8, 0.8) translateY(1.5em) rotateZ(5deg);}
  100% {transform:  rotateY(  1.turn)   rotateZ(-5deg);}
}



/* trabajos */



/* proyectos */


/* habilidades */

